body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.centro {
    margin-top: 10%;
    margin-left: 30%;
}

.gray {
    background-color: rgb(241, 241, 241);
    margin-top: 150px;
    text-align: center;
}

.img {
    width: 50%;
    margin-left: 12%;
}

.input {
    background-image: url(./img/magnifying-glass-308581_1280.png);
    display: flex;
    justify-content: end;
    margin-right: 20px;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 15px;
    margin-left: 4%;
    height: 40px;
    width: 50%;
    border-radius: 20px;
    border-color: white 1px solid;
    box-shadow: none;
}

.botones {
    margin-left: 15%;
    box-shadow: none;
}

.botong {
    border-radius: 10px;
    transform: scale(1.4);
    margin-right: 50px;
    margin-left: 10px;
}

.botong:hover {
    pointer-events: visible;
}

.idiomas2 {
    margin-top: 2%;
    margin-left: 10%;
}

.sobre {
    display: flex;
    justify-content: left;
}

.gmail {
    display: flex;
    justify-content: right;
}

.españa {
    text-align: left;
    margin-left: 5%;
    color: rgb(101, 101, 101);
    margin-bottom: 5px;
}

.enlace {
    margin-right: 30px;
    color: gray;
}

.nav {
    margin-right: 10px;
    margin-left: 30px;
    border-radius: 50%;
    border-color: white;
    background-color: rgb(103, 103, 103);
}

.a1 {
    margin-left: 50px;
    color: rgb(101, 101, 101);
    text-decoration: none;
}

.nav1 {
    width: 50%;
    border-radius: 50% 50% 50% 50%;
    background: blue;
    color: white;
}

.emision {
    color: rgb(101, 101, 101);
}

a {
    text-decoration: none;
    color: rgb(78, 154, 215);
}

a:hover {
    text-decoration: underline gray;
}

.img2 {
    width: 20px;
    margin-right: 10px;
}

button {
    background-color: rgb(248, 248, 248);
    border: none
}
